.search__block {
    margin: 40px auto;
    max-width: 50%;
}

.search__input {
    border-radius: 12px;
}

.search__input:focus:invalid {
    box-shadow: 0 0 0 0.15rem rgba(245, 43, 7, 0.8);
}

.search__input:focus {
    box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, .25);
}

.search__error {
    margin-top: 40px;
}


.search__items {
    margin: 25px 0;
    padding: 12px;
    padding-left: 0;
}

.search__item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 6px;
}

.navbar__item {
    color: #fff;
    padding-right: 20px;
    font-size: 18px;
    transition: all .25s;
}

.navbar__item:hover {
    text-decoration: none;
}

.table__block {
    margin-top: 50px;
}

.filter__search {
    padding: 4px;
    border-radius: 8px;
    outline: none;
    margin-top: 3px;
    border: 1px solid #677;
}